<!--Section: Block Content-->
{% extends "layout.html" %}
{% block title %}Mehsulun Detali{% endblock title %}
{% block body %}
{% load static %}
<section class="mb-5">
  <a class="btn btn-outline-dark" href="{% url 'store:store' %}" style="margin-left:20px;">&#x2190; Continue Shopping</a>
  <br>
  <br>
  <div class="row">

    <div class="col-md-6 mb-4 mb-md-0">
    

      <div id="mdb-lightbox-ui"></div>

      <div class="mdb-lightbox">

        <div class="row product-gallery mx-1">

          <div class="col-12 mb-0">
            <figure class="view overlay rounded z-depth-1 main-img">
              <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
                data-size="710x823">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
                  class="img-fluid z-depth-1">
              </a>
            </figure>
          </div>

        </div>

      </div>

    </div>
    <div class="col-md-6">

      <h5>{{product.title}}</h5>
      <p class="mb-2 text-muted text-uppercase small">Shirts</p>
      <p><span class="mr-1"><strong>${{product.price}}</strong></span></p>
      <p class="pt-1">{{product.description}}.</p>
      <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
              <td>Shirt 5407X</td>
            </tr>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
              <td>Black</td>
            </tr>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Delivery</strong></th>
              <td>USA, Europe</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <div class="table-responsive mb-2">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>

            </tr>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-primary btn-md mr-1 mb-2">Add To Cart</button>
    </div>
  </div>
  
</section>
{% endblock body %}
<!--Section: Block Content-->